header{
    border-bottom: solid lightgrey 1px;
    height: 70px;
    background-color: white;
    z-index:4;
    position: fixed;
    width: 100%;
    box-shadow:2px 2px 2px #aaaaaa;
}
#navbar{
    text-align: right;
}
.navbutton{
    transition: 0.5s;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
    text-decoration: none;
    box-sizing: border-box;
    border: white solid 1px;
}
.navbutton:hover{
    border-color: lightgray;
}
#title{
    float: left;
    margin-left: 15px;
    margin-top: -9px;
}
.letters{
    float: left;
}
#X{
    color: black;
}
#work{
    color: #0076fd;
}