#signupContainer{
    position: absolute;
    top: 70px;
    right: 0px;
    width: 800px;
    background: white;
    border: solid lightgrey 1px;
    height: 1000px;
    box-shadow:2px 2px 2px #999999;
}
#buttonlong  {
    height: 50px;
}
#linia{
    border-bottom: solid lightgrey 1px;
}

#signupPage{
    left: 50%;
    height: 625px;
    position: absolute;
    top: 0px;
}
.flex{
    float: left;
    margin: 15px;
}
.line{
    margin-left:145px;
}
#pole{
    float: left;
}
#center{
    text-align: center;
}
#backgroundsignup{
    position: fixed;
    top: 0px;
    left: 0px;
    height: 1000px;
    width: 100%;
    z-index: -1;
    background: #dddddd;
}